
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# IDE
.vscode

# Application specific files
node_modules
.nyc_output
.env 
